<%- include ('../partials/_header_admin.ejs') %>
<div class="site-overlay"></div>
    <div class="container-fluid content-body h-100" id="container">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="/admin/dashboard"
                >
                  &nbsp; Dashboard
                </a>
              </li>
              <h6
                class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
              >
                <span>Manage</span>
              </h6>
              <li class="nav-item">
                <a class="nav-link" href="/admin/products">
                  
                  &nbsp; Products
                </a>
              </li>
              <li class="nav-item sidebar-addon">
                <a
                  class="nav-link sidebar-link"
                  href="/admin/orders"
                >
                 
                  &nbsp; Orders
                </a>
            
              </li>

              
            </ul>

            
            
          </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="col-sm-12">
            <h2>Dashboard</h2>
          </div>
          <div class="row">
            <div class="col-6 bottom-pad-30">
              <div class="card">
                <div class="card-body text-center">
                  <h5 class="card-title">Total orders</h5>
                  
                  <h4 class="card-text text-danger"><%=totalOrder%></h4>
                </div>
              </div>
            </div>
            <div class="col-6 bottom-pad-30">
              <div class="card">
                <div class="card-body text-center">
                  <h5 class="card-title">Total order money</h5>
                 
                  <h4 class="card-text text-danger"><%=totalOrderMoney%> VND</h4>
                </div>
              </div>
            </div>
            <div class="col-6 bottom-pad-30">
              <div class="card">
                <div class="card-body text-center">
                  <h5 class="card-title">Total products</h5>
                  
                  <h4 class="card-text text-danger"><%=totalProduct%></h4>
                </div>
              </div>
            </div>
            <div class="col-6 bottom-pad-30">
              <div class="card">
                <div class="card-body text-center">
                  <h5 class="card-title">Total products sold</h5>
            
                  <h4 class="card-text text-danger">0</h4>
                </div>
              </div>
            </div>
            
          </div>
        </main>
      </div>
    </div>
    
    </div>


        <%- include ('../partials/_footer.ejs') %>