<%- include ('../partials/_header_cart.ejs') %>
<div class="site-overlay"></div>
    <div class="container-fluid content-body h-100" id="container">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="/admin/dashboard"
                >
                  &nbsp; Dashboard
                </a>
              </li>
              <h6
                class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
              >
                <span>Manage</span>
              </h6>
              <li class="nav-item">
                <a class="nav-link" href="/admin/products">
                  
                  &nbsp; Products
                </a>
              </li>
              <li class="nav-item sidebar-addon">
                <a
                  class="nav-link sidebar-link"
                  href="/admin/orders"
                >
                 
                  &nbsp; Orders
                </a>
            
              </li>

              
            </ul>

            
            
          </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
         
          <div class="col-sm-12">
            <h2>Dashboard</h2>
          </div>
          <div class="row">
            <div class="col-6 bottom-pad-30">
              <div class="card">
                <div class="card-body text-center">
                  <h5 class="card-title">Total orders</h5>
                  
                  <h4 class="card-text text-danger"><%=totalOrder%></h4>
                </div>
              </div>
            </div>
            <div class="col-6 bottom-pad-30">
              <div class="card">
                <div class="card-body text-center">
                  <h5 class="card-title">Total order money</h5>
                 
                  <h4 class="card-text text-danger"><%=totalOrderMoney%> VND</h4>
                </div>
              </div>
            </div>
            <div class="col-6 bottom-pad-30">
              <div class="card">
                <div class="card-body text-center">
                  <h5 class="card-title">Total products</h5>
                  
                  <h4 class="card-text text-danger"><%=totalProduct%></h4>
                </div>
              </div>
            </div>
            <div class="col-6 bottom-pad-30">
              <div class="card">
                <div class="card-body text-center">
                  <h5 class="card-title">Total products sold</h5>
            
                  <h4 class="card-text text-danger"><%=totalProductSold%></h4>
                </div>
              </div>
            </div>
            
          </div>
         <!--  <div style="height: 400px; width: 800px;">
            <canvas id="myChart" width="1110px"></canvas>
          </div> -->
        </main>
      </div>
    </div>
    
    </div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>

        <%- include ('../partials/_footer.ejs') %>