<%- include ('../partials/_header_cart.ejs') %>
<div class="container">

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Phone number</th>
            <th>Address</th>
            <th>Time</th>
            <th >Items</th>
            <th>Total</th>
            <th>Status</th>
            <th>Mark as delivered</th>
        </tr>
        <% orders.forEach(order => { %>
        <tr>
            <td>
               <%=order.id%>>
            </td>
            <td>
                <%=order.fullname%>
            </td>
            <td>
                <%=order.phone_number%>
            </td>
            <td>
                <%=order.address%>
            </td>
            <td>
                <%=order.createdAt%>
            </td>
            <td>
                <% order.items.forEach(item => { %>
                    <p><%=item.title%></p> 
                    <p><%=item.price%> x <%=item.amount%> </p>   
                    <% })
                    %>

            </td>
            <td>
                <%=order.total%>
            </td>
            <td>
                <% if (order.status) { %>
                    Delivering
                <%} else { %>
                   Pending
                <% } %>
            </td>
            <td>
                <% if (!order.status) { %>
                    <button class="btn btn-danger" onclick="deliver('<%=order.id%>')">Mark as delivered</button>
                <%}%>
                
            </td>
        </tr>
        <% }) %>
        </tbody>
    </table>

</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    axios.defaults.withCredentials = true
    async function deliver(id){
        const checked =   window.confirm("Confirm?")
        if(checked) {
            const result = await axios.put(`/admin/orders/${id}/update`);
            window.location = '/admin/orders'
        }
    }
</script>
</body>
</html>