<%- include ('../partials/_header_cart.ejs') %>
<body>
<div class="container">
   
    <table class="table">
        <tbody>
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Price</th>
                <th>Description</th>
                <th></th>
                <th></th>
                <th>Category</th>
            </tr>
          
            <tr>
                <td >
                    <div><img src="<%=book.image%>" width="200px" height="300px" id="image" alt="Product image">
                        <div>
                            <input type="file" id="image_input">
                        </div></div>
                </td>
                <td >
                    <textarea rows="3" cols="30" id="title"><%=book.title%> </textarea>
                </td>
                <td >
                    <textarea rows="1" cols="10" id="price"><%=book.price%> </textarea>
                </td>
                <td >
                    <textarea rows="10" cols="30" id="description"><%=book.description%> </textarea>
                </td>
                 <td></td>
                 <td></td>
                 <td>
                    <select id="category" class="select" style="display:inline ;" >
                        <% categories.forEach(category => { %>
                            <option value="<%=category.id%>"
                                <% if( book.category_id == category.id) { %>
                                    selected
                            <%}  %> ><%=category.name%></option>
                        <% })
                        %>
                    </select>
                 </td>
            </tr>
            <tr>
               <td colspan="4"> <button class="btn btn-success" onclick="editProduct('<%=book.id%>')"> Save</button></td>
            </tr>
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
const image = document.getElementById('image');
const image_input = document.getElementById("image_input");
image_input.onchange = e => {
  const [file] = image_input.files
  if (file) {
    image.src = URL.createObjectURL(file)
  }
};

async function editProduct(id){
    const formData = new FormData();
    const [file] = image_input.files;
    if(file) {
        formData.append("image", file);
        const result = await axios.put(`/admin/products/${id}/edit/image`, formData, {
        headers: {
        'Content-Type': 'multipart/form-data'
        }
    })
    }
    const price = document.getElementById('price').value
    const title = document.getElementById('title').value
    const description = document.getElementById('description').value
    const category_id = document.getElementById('category').value
    console.log(category_id)
    const result = await axios.put(`/admin/products/${id}/edit`, {
        price, title, description, category_id
    })
  
    if(result.status ==200){
       window.alert("Update success")
    
    }else{ 
        window.alert("Update fail");
    }
    
}
</script>


</body>
</html>