<%- include ('../partials/_header_cart.ejs') %>
<div class="container px-3 my-5 clearfix">
    <!-- Shopping cart table -->
    <div class="card">
        <div class="card-header">
            <h2>Shopping Cart</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered m-0">
                <thead>
                  <tr>
                    <!-- Set columns width -->
                    <th class="text-center" style="min-width: 200px;">Book</th>
                    <th class="text-right" style="width: 100px;">Price</th>
                    <th class="text-center" style="width: 120px;">Quantity</th>
                    <th class="text-right" style="width: 100px;">Total</th>
                    <th class="text-center align-middle" style="width: 40px;"><a href="#" class="shop-tooltip float-none text-light" title="" data-original-title="Clear cart"><i class="ino ion-md-trash"></i></a></th>
                  </tr>
                </thead>
                <tbody>
					<% cart_items.forEach(book => { %>
						<tr>
							<td>
							  <div class="media align-items-center">
								<div class="media-body">
								  <a href="/books/view/<%=book.id%>" class="d-block text-dark"><%=book.title%></a>
									
								</div>
							  </div>
							</td>
							<td class="text-right font-weight-semibold align-middle "><%=book.price%></td>
							<td class="align-middle"><input type="text" class="form-control text-center" id="amount" onchange="changeAmount(this.value, <%=book.id%>, <%=book.price%>)" value="<%=book.amount%>"></td>
							<td class="text-right font-weight-semibold align-middle " id="total_<%=book.id%>"><%=book.total%></td>
                            <td class="text-center align-middle "><button  class="shop-tooltip close float-none text-danger" title="" data-original-title="Remove" onclick="deleteItem(<%=book.id%>)">×</button></td>
						  </tr>
					<% }) %>
                 
        
                  
        
                </tbody>
              </table>
            </div>
            <!-- / Shopping cart table -->
        
            <div class="d-flex flex-wrap justify-content-between align-items-center pb-4">
              <div class="mt-4">
               
              </div>
              <div class="d-flex">
                <div class="text-right mt-4 mr-5">
                 
                </div>
                <div class="text-right mt-4">
                  <label class="text-muted font-weight-normal m-0">Total price</label>
                  <div class="text-large" id="total"><strong><%=total%></strong></div>
                </div>
              </div>
            </div>
        
            <div class="float-right">
              <a type="button" href="/" class="btn btn-success btn-default md-btn-flat mt-2 mr-3">Back to shopping</a>
              <a type="button" href="/users/checkout" class="btn btn-success btn-default md-btn-flat mt-2 mr-3">Checkout</a>
            </div>
        
          </div>
      </div>
  </div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    async function changeAmount(amount, id, price){
        console.log(amount, id, price)
        const result = await axios.put(`/users/cart/${id}`, { amount });

        $(`#total_${id}`).text(result.data.item.amount*price);
        $('#total').text(result.data.total)
    }
    async function deleteItem(id){
        console.log(id);
        try {
            await axios.delete(`/users/cart/cart_item/${id}`);
            window.location.reload();
        }catch (e) {

        }
    }
  </script>