<%- include ('../partials/_header_admin.ejs') %>
<div class="site-overlay"></div>
    <div class="container-fluid content-body h-100" id="container">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <div class="container"><br><a href="/users/account/profile"><h2>Profile</h2></a></div>
                
              </li>
              
              
              
              <li class="nav-item sidebar-addon">
               <div class="container"><br><a href="/users/account/orders"><h2>Order</h2></a></div>
            
              </li>

              
            </ul>

            
            
          </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
         
          <div class="col-sm-12">
            <h2>Orders</h2>
          </div>
          
          
          <table class="table">
            <tbody>
            <tr>
                
                <th>Name</th>
                <th>Phone number</th>
                <th>Address</th>
                <th>Time</th>
                <th >Items</th>
                <th>Total</th>
                <th>Status</th>
            </tr>
            <% orders.forEach(order => { %>
            <tr>
                
                <td>
                    <%=order.fullname%>
                </td>
                <td>
                    <%=order.phone_number%>
                </td>
                <td>
                    <%=order.address%>
                </td>
                <td>
                    <%=order.createdAt%>
                </td>
                <td>
                    <% order.items.forEach(item => { %>
                        <p><%=item.title%></p> 
                        <p><%=item.price%> x <%=item.amount%> = <%=item.total%></p>   
                        <% })
                        %>
    
                </td>
                <td>
                    <%=order.total%>
                </td>
                <td>
                    <% if (order.status) { %>
                        Delivering
                    <%} else { %>
                       Pending
                    <% } %>
                </td>
               
            </tr>
            <% }) %>
            </tbody>
        </table>

  
          
         <!--  <div style="height: 400px; width: 800px;">
            <canvas id="myChart" width="1110px"></canvas>
          </div> -->
        </main>
      </div>
    </div>
    
    </div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>

        <%- include ('../partials/_footer.ejs') %>